
@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Montserrat&display=swap');
 /* Color palettte link https://colorhunt.co/palette/140154 */

 /* C O L O R S

  Black: #1b1919;
  Dark Green: #616f39;
  Green: #a7d129;
  Creme: #f8eeb4;

 */

a{
  color: #96dae4;
}

a:hover{
  text-decoration: none;
  color: #a7d129;
}

body {
  font-family: "Montserrat";
}

footer {
  background-color: #1b1919;
  bottom: 0;
  height: 3.625rem;
  margin-top: 5%;
  position: absolute;
  width: 100%;
}

header {
  background-color: #1b1919;
}

html {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}

section{
  padding: 3% 0;
  background-color: #f8eeb4;
}

.after {
  animation: moveUp 5s ease;
}

.blue{
  color: #96dae4;
}

.container-fluid {
  overflow: hidden;
}

.custom{
  margin: 2rem 0;
}

.dark {
  background-image: linear-gradient(
    to top,
    rgba(55, 54, 54, 0.97),
    rgba(0, 0, 0, 0.93)),
    url(../images/traffic-hotspots.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
}

.features{
  padding: 1.5rem;
}

.feature-text{
  color: #a7d129;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.green{
 color: #a7d129;
}

.green-underline{
  border-bottom: 3px solid #a7d129;
}

.icon{
  height: 1rem;
  width: 1rem;
}

.how{
  padding: 1rem;
}

.logo {
  display: inline-block;
  height: 10rem;
  margin-right: 1rem;
  width: 10rem;
}

.nav-item{
  font-size: 1.3rem;
  padding-top: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.nav-item:hover {
  box-shadow: #FFF 0 -1px 4px,
  #ff0 0 -2px 10px,
  #69ff00 0 -10px 20px,
  green 0 -18px 40px,
  5px 5px 15px 5px rgba(0,0,0,0);
}

.rectangle {
  background-image: linear-gradient(
    to right top,
    rgba(105, 125, 46, 0.78),
    rgba(141, 168, 60, 0.78)
    );
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10vh 0;
}

.rectangle2 {
  background-image: linear-gradient(
    to right top,
    rgba(105, 125, 46, 0.78),
    rgba(141, 168, 60, 0.78)
    );
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  padding: 10vh 0;
}

.side-title{
  color: #96dae4;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.site-title{
  font-family: "Fontdiner Swanky";
  color: #96dae4;
}

.slogan{
  color: #6d70c6;
}

.title {
  color: #6d70c6;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem #6264af;
}

.toggler-button{
  border: 2px solid #cdeeaa;
  height: 5rem;
  width: 5rem;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
