
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Mali:400,700&display=swap');
 /* Color palettte link https://colorhunt.co/palette/136290 */
 /* COLORS 
  Creme: #ffedc6
  Green: #cdeeaa
  Blue: #96dae4
  Purple: #6d70c6
 */
 
a{
  color: #96dae4;
}

a:hover{
  text-decoration: none;
  color: #96dae4;
}

body{
  background-color: #ffedc6;
}

footer {
  background-color: #6d70c6;
  bottom: 0;
  height: 3.625rem;
  margin-top: 5%;
  position: absolute;
  width: 100%;
}

header {
  background-color: inherit;
  transition: all 0.5s ease;
}

html {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}

section{
  padding: 7% 3%;
  height: 100vh;
}

.creme{
  background-color: #ffedc6;
}

.custom{
  margin: 2rem 0;
  background-color: #6d70c6;
  border-radius: 20px;
  border: 5px solid #6d70c6;
  box-shadow: 7px 6px 8px 2px #3f3a2d;
  transition: all 0.2s ease;
}

.custom:hover{
  box-shadow: 3px 2px 2px 2px #3f3a2d;
  transform: translateY(2px);
}

.features{
  padding: 1.5rem;
}

.feature-text{
  color: #6d70c6;
  font-family: "Mali";
  font-size: 1.2rem;
  margin-top: 2rem;
}

footer .m-auto p{
  color: #96dae4;
  font-family: "Indie Flower";
  font-size: 1.1rem;
}

.green{
 background-color:#cdeeaa;
}

.icon{
  height: 1rem;
  width: 1rem;
}

.how{
  padding: 1rem;
}

.logo {
  display: inline-block;
  height: 7rem;
  margin: 1rem 1.5rem;
  width: 7rem;
}

.nav-item{
  font-size: 2rem;
  font-family: "Indie Flower";
  padding: 0 1rem;
  transition: all 0.2s ease-in;
}

.nav-item a{
  color: #6d70c6;
}

.nav-item p{
  color: #6d70c6;
}

.nav-item:hover{
  font-size: 2.3rem;
}

.side-title{
  color: #96dae4;
  font-family: "Mali";
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.site-title{
  font-family: "Gloria Hallelujah";
  color: #6d70c6;
}

.slogan{
  color: #6d70c6;
  font-family: "Gloria Hallelujah";
}

.small-title{
  color: #6d70c6;
  font-family: "Gloria Hallelujah";
  margin-bottom: 5vh;
  text-decoration: underline;
}

.toggler-button{
  border: 2px solid #cdeeaa;
  height: 5rem;
  width: 5rem;
}
