
.signup-text{
  color: #90A4AE;
  font-weight: 400;
  font-size: 1rem;
  margin: 2.5rem;
  display: block;
  position: relative;
  line-height: 1.5rem;
  top:0;
  text-align: center;
}

.signupButton{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  color: #01BD6F;
  background: #F2FBF8;
  border: 2px solid #A6E8CD;
  border-radius: 4px;
  width: 30%;
    margin: 5%;
    text-align: center;
    height:2.5rem;
}

.signupButton:hover{
  background-color:#01BD6F;
  color:#F2FBF8;
}

.signIn{
  color:#01BD6F !important;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align:center;
}

.likeButton{
color:#96dae4;
cursor: pointer;
}

.welcome{
  color: #01BD6F;
    font-weight: 500;
    font-size: 2rem;
    line-height: 4rem;
    margin: 0;
    text-align: center;
    padding-top: 3rem;
}

.input{
  display: block;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: initial;
  font-size: initial;
  position: relative;
  border: none;
  background-color: inherit;
  height: 100%;
  width: 100%;
}

.usernamePassword{
  display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #263238;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.infoLocale{
  color: #90A4AE;
    font-weight: 400;
    font-size: 1rem;
    margin: 2.5rem;
    display: block;
    position: relative;
    line-height: 1.5rem;
    top:10px;
    text-align: center;
}

.likeButton:hover{
  text-decoration: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30vw;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-image: url("https://cdn.jotfor.ms/assets/img/modals/modal-bg.svg");
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;

  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

.inputdiv{
  position: relative;
  width: 50%;
  height: 50px;
  margin: 2rem 25%;
  overflow: hidden;
}

.usernamePassword::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -1px;
  border-bottom: 3px solid #01BD6F;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.form-span {
  position: absolute;
  bottom: 2px;
  transition: all 0.3s ease;
}

.inputdiv input:focus + .usernamePassword .form-span,
.inputdiv input:valid + .usernamePassword .form-span{
  transform: translateY(-150%);
  color: #01BD6F;
}

.inputdiv input:focus + .usernamePassword::after,
.inputdiv input:valid + .usernamePassword::after{
  transform: translateX(0);
}
